.header {
    display: flex;
    align-items: center;
    height: 65px;
    background: linear-gradient(90deg, #111636 1.18%, rgba(233, 236, 238, 0.4) 100%);
    color: rgb(238, 238, 238);
    padding: 15px;
}

.favorite {
    margin-left: auto; 
    cursor: pointer;
    color: rgb(133, 130, 134);
    box-shadow: 10px 10px 5px;
    border-style:double;
}

.container {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}

.title--image {
    width: 150px;
    height: 150px;
}

.show--description {
    font-size: small;
}